@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="jumbotron">
    <div class="container">
        <h1 class="text-center"><span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span> Workshop - ASP.NET Core para Iniciantes</h1>
        <h2 class="text-center">Gabrielle Oliveira </h2>
        <h3 class="text-center">Developer </h3>
    </div>
    <hr class="m-y-md">
    <p class="lead">
        <a class="btn btn-danger btn-lg " class="text-center" href="https://www.linkedin.com/in/gabrielle-oliveira-675879164/" role="button"> Veja meu Linkedin</a>
    </p>
</div>