@page
@model PrivacyModel
@{
    ViewData["Title"] = "Desenvolvido com amor <3";
}


<h2 class="text-center">Hello! My name Gabrielle </h2>
<p align="center">
    <img src="https://ibb.co/9WKW5X4" />
</p>
